<div class="content">
   <div class="page-header">
    <h2>Setup it up Once & Send daily <strong>automatic</strong> texts to </br>help your loved one stop smoking</h2>
  <h4><strong>One Time</strong> Setup is as easy as 1 - 2 - 3</h4></br>
   </div>
<div class="row">
<div class="span12"> 
<%= form_for(@receiver) do |f|  %>
  <% if @receiver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receiver.errors.count, "error") %> prohibited this receiver from being saved:</h2>

      <ul>
      <% @receiver.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   
  <table class="table-striped">
  <tr><td><%= f.label :name, 'Enter Recipient Name:', :class => "label info" %> 
    <%= f.text_field :name, :placeholder => 'Mom or Dad or Debbie or Dave' %></td> 
  <td>
    <%= f.label :phone, 'and Phone Number:' , :class => "label info" %> 
    <%= f.text_field :phone, :placeholder => '123-456-7890' %>
</td>
<td>&nbsp</td>
<td>&nbsp</td>
</tr>
   <tr><td>
    <%= f.label :timezone, 'Select Timezone', :class => "label info" %>  </td></tr>
   <tr ><td class="span2">  <%= f.radio_button :timezone, 'pacific', :class=>'radio inline' %>
  <%= f.label :Pacific %>  </td>
 <td class="span2"><%= f.radio_button :timezone, 'mountain' %>
  <%= f.label :Mountain %></td>
<td class="span2"><%= f.radio_button :timezone, 'central' %> <%= f.label :Central %>
  </td>
  <td class="span2"><%= f.radio_button :timezone, 'eastern' %><%= f.label :Eastern %>
  </td>
</tr>
</table>   
</div>
    
    <%#= f.label :user_id %> 
    <%#= f.number_field :user_id %>
<div class="row">
  <h2 class="label info span10"> Text Messages - When to send and what to say </h2>
    <div class="span3">
        <table class="table-bordered">
        <tr><td> <%= f.select(:t1, Receiver::TIMES1, {:include_blank => false, :selected => "7:00 AM"}) %></td></tr>
        <tr><td> <%= f.select(:t2, Receiver::TIMES1, {:include_blank => false, :selected => "9:00 AM"}) %></td></tr>
        <tr><td> <%= f.select(:t3, Receiver::TIMES1, {:include_blank => false, :selected => "11:30 AM"}) %></td></tr>
        <tr><td> <%= f.select(:t4, Receiver::TIMES1, {:include_blank => false, :selected => "1:00 PM"}) %></td></tr>
        <tr><td> <%= f.select(:t5, Receiver::TIMES1, {:include_blank => false, :selected => "3:00 PM"}) %></td></tr>
        <tr><td> <%= f.select(:t6, Receiver::TIMES1, {:include_blank => false, :selected => "5:30 PM"}) %></td></tr>
        </table>  
    </div>   
    <div class="span4 offset4>
    <table class="table-bordered">
    <tr><td> <%=select('message1', "id", Message.all.collect {|m| [ m.message_text, m.id ] }, {:include_blank => false, :selected => "1"}, :class=>"span6") %></td></tr>
    <tr><td> <%=select("message2", "id", Message.all.collect {|m| [ m.message_text, m.id ] }, {:include_blank => false , :selected => "2"}, :class=>"span6") %></td></tr>
<tr><td> <%=select("message3", "id", Message.all.collect {|m| [ m.message_text, m.id ] }, {:include_blank => false, :selected => "3"}, :class=>"span6")%></td></tr>  
<tr><td> <%=select("message4", "id", Message.all.collect {|m| [ m.message_text, m.id ] }, {:include_blank => false, :selected => "4"}, :default =>"3" , :class=>"span6")%></td></tr>  
<tr><td> <%=select("message5", "id", Message.all.collect {|m| [ m.message_text, m.id ] }, {:include_blank => false, :selected => "5"}, :class=>"span6") %></td></tr>
<tr><td> <%=select("message6", "id", Message.all.collect {|m| [ m.message_text, m.id ] }, {:include_blank => false, :selected => "6"}, :class=>"span6") %></td></tr>
     </table>  
    </div>  
</div> 
  

<% if signed_in? %> </br>
<%= f.check_box :accepted_tos %> I agree to the terms and conditions </br>
<%= f.submit 'Create Recipient', :class=>'btn primary large'%>
<% else %>
<%= f.submit 'sign in to get started. first 10 days free - no credit card. 25 cents per day afterwards.', :class=>'btn primary large span10'%>
<% end %>

<% end %>
</div>
