<!DOCTYPE html>
<html>
<head>
  <title>sst</title>
  <%= stylesheet_link_tag 'application.css' %>
  <%= stylesheet_link_tag 'bootstrap.css' %>
  <%= javascript_include_tag 'application.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="<%=root_path %>">S T O P   S M O K I N G   T E X T</a>
            <ul class="nav">
                <li class="active"><a href="#"></a></li>
                <% if current_user.try(:admin?) %>
                <li><a href="<%= orders_path %>">Orders</a></li>
                <% end %>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
          </ul>
          <ul class="class=navbar nav navbar-text pull-right">
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
</ul> </div>
    </div>
     <%= link_to image_tag("sst_logo.gif",:style =>"height:90px;width:100%;", :alt =>"stop smoking text"), root_path %>
</div>
<div class="container">
<%= yield %>
</div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
